@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  overflow: hidden;
  background-color: #0e4770;
}

.navbar {
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
   
}

a img {
  position: absolute;
  margin-left: 60px;
  margin-top: -12px;
  width: 135px;
  height: 48px;
  left: 60px;
  top: 25px;
}

li a {
  padding: 20px 25px;
  color: #5F5F5F;
  text-decoration: none;
}

.btn-user {
  display: block;
  color: black;
  margin-right: 60px;
  padding: 8px 24px;
  text-decoration: none;
  border-radius: 20px;
}

li a {
  display: block;
  margin: auto;
  padding: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

li a:hover {
  background-color: #f5f5f5;
}


#hero {
  width: 100%;
  height: 100%;
  background: url("../IndonesiaPLN.jpg") center center;
  background-size: cover;
  position: relative;
}


#hero .container {
  padding-top: 80px;
}


#hero h1 {
  margin: 0 0 10px 0;
  font-size: 55px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 110px;
  margin-left: 127px;
  color: #fff;
}
#hero .contents {
  color: #eee;
  margin-left: 127px;
  font-size: 25px;
  font-weight: 400;
  font-family: "Roboto", "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  
}

#hero .btn-daftar {
  font-family: "Roboto", "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  margin-left: 127px;
  background-color: #F66951;
  color: #fff;
  text-decoration: none;
}
#hero .btn-daftar:hover {
  background: #F66951 ;
  border: 2px solid #F66951 ;
}

footer {
  background-color: #0e4770;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 20px;
}