@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Roboto:wght@300;500;900&display=swap");

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/IndonesiaPLN.jpg");
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-weight: 900;
  color: white;
  font-size: 45px;
}

.txt-hero {
  font-weight: 400;
  color: white;
  font-size: 19px;
}

/* .hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
} */

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.btn-registration {
  font-size: 14px;
    color: #fff;
    background: #F66951;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}

.container .btn-registration::hover {
  background-color: #555;
}

.copyright {
  font-size: 17px;
}
.copyright a {
  font-weight: 600;
}

.btn-keluar {
  font-size: 14px;
    color: black;
    background: #FFFFFF;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}

.container .keluar::hover {
  background-color: #555;
}