@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Roboto:wght@300;500;900&display=swap");

* {
    font-family: "Roboto", "Montserrat", sans-serif;
}

body {
    background-color: #0e4770;
}

#card {
    background: white;
    border-radius: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 1500px;
    margin: 6rem auto 8.1rem auto;
    width: 800px;
}

#card-content {
    padding: 12px 44px;
}
#card-title {
    font-family: "Roboto", "Montserrat", sans-serif;
    letter-spacing: 1px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

h2 {
    background-color: #F5F5F5;
    margin: auto;  
    padding: 20px;
    text-align: left;
    border-radius: 10px;
}

.form-input {
    text-align: left;
}

#save-btn {
    border-radius: 10px;
    text-align: center;
    background-color: #0e4770;
    color: white;
    margin-top: 40px;
  }

  #signin {
    color: black;
    text-align: center;
  }

  #save-btn {
    background: #0e4770;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    height: 42.3px;
    margin: 0 auto;
    transition: 0.25s;
    width: 280px;
    margin-top: 30px;
  }

  #kodeinsname {
    background-image: url('/instansi.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
    width: 50vh;
  }

  #fullname {
    background-image: url('/Vector.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
    width: 50vh;
  }

  #gender {
    background-image: url('/gender.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
    width: 50vh;
  }

  #addressusr {
    background-image: url('/address.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
    width: 50vh;
  }

  #numberusr {
    display: flex;
    flex-wrap: wrap;
align-content: flex-end;
    width: 20vh;
    background-image: url('/number.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
  }
  
  #emailusr {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 20vh;
    background-image: url('/email.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
  }

  #nameins {
    background-image: url('/Vector.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
    width: 50vh;
  }

  #namefclty {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 20vh;
    background-image: url('/Vector.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
  }

  #stdypgrm {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 20vh;
    background-image: url('/Vector.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
  }

  #addressins {
    width: 50vh;
    background-image: url('/address.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
  }

  #mulaimgng {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 25vh;
    background-image: url('/date.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
  }

  #selesaimgng {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 25vh;
    background-image: url('/date.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
  }