@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&family=Roboto:wght@300;500;900&display=swap");

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

* {
    font-family: "Roboto", "Montserrat", sans-serif;
}

.btn-user {
    font-size: 14px;
    color: black;
    background: #FFFFFF;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}

ul.nav a:hover {
    color: #0E4770 !important;
}

.container h1 {
    font-size: 50px;
    font-weight: 550;

}

.container h2 {
    margin-left: 55px;
    font-size: 40px;
    color: white;
}

.container p {
    font-size: 30px;
}

.btn {
    font-size: 18px;
    color: black;
    background: #FFFFFF;
    padding: 8px 30px;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
}

footer {
    margin-top: 15px;
}

.copyright {
    font-size: 17px;
    text-align: center;
}

.copyright a {
    font-weight: 500;
}

.btn-keluar {
    font-size: 15px;
    color: black;
    background: #FFFFFF;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}